{{!-- {{#if SUCCESS_MESSAGE}}
<div class="alert alert-success">
    {{SUCCESS_MESSAGE}}
</div>
{{/if}}

{{#if ERROR_MESSAGE}}
<div class="alert alert-danger">
    {{ERROR_MESSAGE}}
</div>
{{/if}}

{{#if INFO_MESSAGE}}
<div class="alert alert-info">
    {{INFO_MESSAGE}}
</div>
{{/if}}


{{#each error}}
<div class="alert alert-danger">
    {{text}}
</div>
{{/each}}


{{#each errors}}
<h1 style="color: red;">{{text}}</h1>
{{/each}}



{{#if ERROR_MESSAGES}}
<h1  >{{ERROR_MESSAGES}}</h1>
{{/if}} --}}


{{#if SUCCESS_MESSAGES}}
<h1 id="errorMessage" >{{SUCCESS_MESSAGES}}</h1>
{{/if}}



{{!-- {{#if errorAuth}}
<h1 >{{errorAuth}}</h1>
{{/if}} --}}